<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659778191979-61egjpk5d5mja88njip857e0jq0qo0p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659778191979-61egjpk5d5mja88njip857e0jq0qo0p9</string>
	<key>API_KEY</key>
	<string>AIzaSyDziFSJgWDGR6Apb0-edpfE-hny28m8LZo</string>
	<key>GCM_SENDER_ID</key>
	<string>659778191979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hrdapp.apphrd</string>
	<key>PROJECT_ID</key>
	<string>apphrd</string>
	<key>STORAGE_BUCKET</key>
	<string>apphrd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659778191979:ios:cb636d2ff37e9565ba272e</string>
	<key>DATABASE_URL</key>
	<string>https://apphrd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>